doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
    head
    body
        p Dear #{name},
        br
        p You have requested to have your password reset for your account at #{appName}
        p Please visit this url to reset your password:
        p= url
        strong If you didn't make this request, you can ignore this email.
        br
        br
        p The #{appName} Support Team